
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Definitions */
@font-face {
  font-family: 'Catamaran';
  src: url('/fonts/Catamaran-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Catamaran';
  src: url('/fonts/Catamaran-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Catamaran';
  src: url('/fonts/Catamaran-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Catamaran';
  src: url('/fonts/Catamaran-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Catamaran';
  src: url('/fonts/Catamaran-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Catamaran';
  src: url('/fonts/Catamaran-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Catamaran';
  src: url('/fonts/Catamaran-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Catamaran';
  src: url('/fonts/Catamaran-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Catamaran';
  src: url('/fonts/Catamaran-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Apply globally */
body {
  font-family: 'Catamaran', sans-serif;
}
